# Les Expressions Régulières
  Les patternes pour rechercher des mots dans dans les textes avec les  expressions régulières

In [1]:
import re

In [259]:
commande = '''
            Salut, j'ai un problème avec ma commande # 412889912
            Ma commande 412889912 a un problème, on m'a changé 50$ quand en ligne ça dit 40$
            J'ai un problème avec mon numéro de commande 412889912
        '''

Les patternes pour rechercher des mots dans dans les textes avec les expressions régulières

![image](../images/7.png)

In [48]:
reponse_1 = "Oui, tel: 56352275 email: ldamaro98@gmail.com"
reponse_2 = "Voici: (+216)-56-352-275, ldamaro98@gmail.com"

Les patternes pour rechercher des mots dans dans les textes avec les expressions régulières
![image](../images/8.png)

In [76]:
pattern = "\(\+\d{3}\)-\d{2}-\d{3}-\d{3}|\d{8}"
re.findall(pattern, reponse_2)

['(+216)-56-352-275']

In [77]:
re.findall(pattern, reponse_1)

['56352275']

In [85]:
email_pattern = "\w*@\w{2,}\.\w{2,}"
re.findall(email_pattern, reponse_1)

['ldamaro98@gmail.com']

In [331]:
url_pattern = 'https?:\/\/\w{3}?\.?\w{2,}?\.\w{2,}[0-9:]*[a-z0-9-/]*'
messites ='''
    ceci est le site de notre boîte: https://stardevcgroup.com/
    ceci est l'API de note site eCommerce en guinée: https://api.stardevcgroup.com:3443/
    ceci est la doc de notre API: https://api.stardevcgroup.com:3443/api-docs
    ceci est le site des université guinéenne: https://stardevcgroup.com
    ceci est mon site person: http://www.camaratek.com
'''
re.findall(url_pattern, messites)

['https://stardevcgroup.com/',
 'https://api.stardevcgroup.com:3443/',
 'https://api.stardevcgroup.com:3443/api-docs',
 'https://stardevcgroup.com',
 'http://www.camaratek.com']

In [270]:
commande_pattern = "commande[^\d]*(\d*)"
re.findall(commande_pattern, commande)

['412889912', '412889912', '412889912']

In [261]:
commande

"\n            Salut, j'ai un problème avec ma commande # 412889912\n            Ma commande 412889912 a un problème, on m'a changé 50$ quand en ligne ça dit 40$\n            J'ai un problème avec mon numéro de commande 412889912\n        "

In [271]:
import requests as req
from bs4 import BeautifulSoup

In [272]:
url = "https://fr.wikipedia.org/wiki/Elon_Musk"

In [295]:
reponse = req.get(url)
soup = BeautifulSoup(reponse.text)

In [325]:
def clean(instr):
    import string, re
    texte = instr.translate( string.punctuation + '')
    return texte.replace('+','')

In [327]:
texte = clean(soup.text)

In [334]:
re.findall(url_pattern+'|\w{3}?\.\w{2,}\.\w{2,}', texte)

['https://www.lefigaro.fr/',
 'https://twitter.com/elonmusk/status/1470519292651352070',
 'https://twitter.com/elonmusk/status/1470519361295335425',
 'www.20minutes.fr',
 'www.20minutes.fr',
 'www.cnbc.com',
 'www.bloomberg.com']

In [339]:
naissance_pattern = 'Nom'
re.findall(email_pattern, texte)

[]

In [340]:
import pandas as pd

In [341]:
list_d = pd.read_html(url)

In [352]:
list_d[9]

,v · mPersonnalité de l'année selon Time Magazine,v · mPersonnalité de l'année selon Time Magazine.1
0,1927-1950,Charles Lindbergh (1927) Walter Chrysler (1928...
1,1951-1975,Mohammad Mossadegh (1951) Élisabeth II (1952) ...
2,1976-2000,Jimmy Carter (1976) Anouar el-Sadate (1977) De...
3,Depuis 2001,Rudy Giuliani (2001) Les whistleblowers (2002)...

In [360]:
nelson_mandela = '''
        Nom de naissance	Rolihlahla Mandela
        Date de naissance	18 juillet 1918
        Lieu de naissance	Mvezo (Afrique du Sud)
        Date de décès	5 décembre 2013 (à 95 ans)
        Lieu de décès	Johannesburg (Afrique du Sud)
        Nature du décès	Infection respiratoire
        Nationalité	Sud-Africain
        Parti politique	Parti communiste sud-africain (SACP)1,2,3
        Congrès national africain (ANC) (depuis 1943)
        Conjoint	Evelyn Ntoko Mase (1944-1957)
        Winnie Madikizela (1957-1996)
        Graça Simbine (1998-2013)
        Diplômé de	Université de Fort Hare
        Université d'Afrique du Sud
        Université du Witwatersrand
        Profession	Avocat
        Religion	Méthodisme
    '''

In [417]:
re.findall('Nom de naissance	(.*)(\d)', nelson_mandela)

[]

In [452]:
re.findall('Date de décès	(.*)', nelson_mandela)[0]

'5 décembre 2013 (à 95 ans)'